ul {
  font-size: 14px;
  color: red;
}

ol {
  font-size: 18px;
  color: red;
}

.error, .warning, .success {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.success {
  background-color: green;
}

.warning {
  background-color: orange;
}

.error {
  background-color: red;
}